.menu li a {
    color: white;
    display: inline-block;
    transition: all 0.4s;
    transform: scale(1);
    text-decoration: none;
}

.menu li a:hover {
    color: cadetblue;
}

.menu li a:active {
    transform: scale(1.1);

}

.title__container input {
    transform: scale(1);
}

.title__container input:hover {
    transition: 0.5s;
    background: cadetblue;
    color: white;
}

.title__container input:active {
    transform: scale(1.1);
    transition: 1s;
}

.logo {
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu li {
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.6s;
}

.menu li:nth-child(4) {
    animation-delay: 0.8s;
}

.menu li:nth-child(5) {
    animation-delay: 1s;
}

.menu li:nth-child(6) {
    animation-delay: 1.2s;
}

.title__container {
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -600px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.about_me_container a {
    transform: scale(1);
    transition: transform 0.7s;
}

.about_me_container a:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #6f707e;
    transition: transform 0.7s;
}

.text_l a {
    transition: 1s;
    transform: scale(1);
}

.text_l a:hover {
    box-shadow: 0px 0px 30px #91e8e1;
    transition: 0.3s;
}

.text_l a:active {
    transform: scale(1.05);
}

.contacts_input_puc {
    transform: scale(1);
    transition: 0.4s;
}

.contacts_input_puc:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.skills_item p{
    transform: scale(1);
    transition: 1s;
}

.skills_item p:hover {
    transform: scale(1.3);
    transition: 0.4s;
}

.contacts_social_a{
    transform: rotate(0deg);
    transition: 0.8s;
}

.contacts_social_a:hover{
    transform: rotate(360deg);
    transition: 0.8s;
}